body {
}

#container {
  width: 75%;
  margin: auto;
}

h1 {
  font-family: 'Georgia';
  font-size: 300%;
}

#new_msg {
  margin: .5em;
}

#title {
  display: inline-block;
}

#msg_grid {
}

.msg {
  width: 260px;
  margin: 5px;
  padding: 4px;
  display: inline-block;
  height: 108px;
}

.msg:hover {
  background-color: #d9edf7;
}

.msg.dragging {
  background-color: #d9edf7;
}

.msg.drag_onto {
  background-color: #dff0d8;
}

.msg .content {
  display: inline-block;
  height:5em;
  width: 95%;
}

.msg .btn {
  display: inline-block;
}

.msg.placeholder:hover {
  background-color: transparent;
}

.msg.placeholder.drag_onto {
  background-color: #dff0d8;
}

.template {
  display: none;
}

.icon-tweet {
  background-image: url('http://a4.twimg.com/images/favicon.ico');
  background-position: -1px -1px;
}

